
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
     -->
    <!-- <% for(var i = 0; i < details.length; i++) {%>
        
        <h1><%= details[i].name %></h1>
    <%= } %> -->
    <!-- <% for(var i = 0; i < monuments.length; i++) {%> -->
        <!-- <li class="p1">
                <a class="name" >
                    <h1><%= details[0].name %></h1>
                    <h3><%= details[0].Id[0] %></h3>
                </a>
            </a>
        </li> -->
    <!-- <%= } %> -->
<!-- </body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOK EASY</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
    <link rel="stylesheet"  href='https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css'>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });
    </script> -->
</head>
<body>
    <!-- <script>console.log(details)</script> -->
    <h1>HI</h1>     

    <!-- <div class="monum">
        <ul class="gallery" id="example">
            <% for(var i = 0; i < details.length; i++) {%>
                
                <li class="p1">
                        <a class="name" >
                            <h1><%=details[i].name %></h1>
                        </a>
                    </a>
                </li>
            <% } %>
        </ul>
    </div> -->
</body>
</html>